@font-face {
  font-family: 'Pokemon GB';
  src: url('./components/pictures/PokemonGb-RAeo.ttf');
}

body{
  background-image: url('./components/pictures/stacked-waves-haikei\ \(1\).svg');
  background-repeat: infinite;
  background-size: cover;
  animation: rotate 6s infinite alternate linear;
}

@keyframes rotate{
  100%{
      background-position: 5% 6%;
  }
}

.App {
  width: 100%;
  height: 100vh;
  font-family: 'Pokemon GB';
  letter-spacing: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.topnav {
  background-color: #222222;
  overflow: hidden;
  height: 50px;
}

.topnav a {
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #051da8;
  color: white;
}

.directions {
  background-color: #72042e86;
  border-radius: 25px;
  top: 70px;
  height: 950px;
  display: grid;
  position: fixed;
  left: 850px;
  overflow: scroll;
  width: 600px;
}

.directions::-webkit-scrollbar {
  width: 0px;
}

.directions::-webkit-scrollbar-track {
  background: transparent; 
  border: none; 
}

.btnLocation {
  font-family: 'Pokemon GB';
  letter-spacing: 3px;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 15px;
  border-width: 10px;
  margin-top: 15px;
}

.btnLocation:hover {
  box-shadow: 5px 5px 5px rgb(44, 44, 44);
}

.location-grid {
  display: grid;
}

.hidden {
  display: none;
}

.locationBG {
  height: 100vh;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.searchBox input {
  position: absolute;
  height: 36px;
  left: 940px;
  top: 720px;
  font-family: inherit;
  border-radius: 8px 0 0 8px;
  border: 0;
  outline: none;
  padding: 4px 16px;
  background-color: white;
  color: #000;
  text-transform: uppercase;
  z-index: 100;
}

.searchBox button {
  border-radius: 0 8px 8px 0;
  border: 0;
  height: 44px;
  padding: 4px 16px;
  background-color: white;
  position: relative;
  cursor: pointer;
  left: 190px;
  top: 670px;
  z-index: 100;
}

.scrollDiv {
  display: grid;
  position: fixed;
  margin-top: 10px;
  top: 20px;
  left: -40px;
  overflow: scroll;
  height: 900px;
  width: 570px;
  float: left;
  scroll-behavior: smooth;
  border-radius: 20px;
  background-color: #04d3e2ce;
  transform: scale(0.5);
}

.scrollDiv::-webkit-scrollbar {
  width: 12px;
  background-color: #04d3e2ce;
}

.scrollDiv::-webkit-scrollbar-track {
  background: #04d3e2ce; 
}

.scrollDiv::-webkit-scrollbar-thumb {
  background: #e3e702; 
}

.scrollDiv::-webkit-scrollbar-track {
  background: transparent; 
  border: none; 
}

.pokePic {
  height: 200px;
  position: relative;
  left: 100px;
}

.header3 {
  text-transform: uppercase;
}

.stats {
  text-transform: capitalize;
}

.pokeDiv {
  display: block;
  height: 300px;
  left: 900px;
  top: 200px;
  position: absolute;
  z-index: 100;
}

.radioContainer {
  margin-top: 5px;
  display: absolute;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: 400;
}

.radioContainer input[type="radio"] {
  display: none;
}

.radioContainer label {
  display: flex;
  margin-right: 10px;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: #ffffffc7;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.164);
  text-transform: uppercase;
}

.radioContainer input[type="radio"]:checked + label {
  background-color: #d60505;
  animation: selectShift 3s infinite;
  color: #a8a8a8;
}

.pokePhone {
  height: 750px;
  position: fixed;
  top: 100px;
  left: 40px;
}

.pokebackground {
  position: absolute;
  height: 300px;
  top: 100px;
  left: 840px;
  border-radius: 15px;
  border-width: 10px;
}

.statsDiv {
  position: absolute;
  background-color: #a8a8a880;
  border-radius: 15px;
  width: 650px;
  left: -120px;
  box-shadow: 5px 5px 5px rgb(80, 80, 80);
}

.h1-start {
  position: relative;
  display: block;
  left: -200px;
}

.starterPokemons {
  position: absolute;
  left: -500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starterPokemons > div {
  margin-top: 0px;
  margin-left: -100px;
}

.starterPokemons .statsDiv {
  display: block;
  position: relative;
  margin-top: -50px;
  width: 500px;
  padding-top: 1px;
  padding-bottom: 1px;

}

.starterPokemons .pokePic {
  left: -100px;
}

.btnChoose {
  position: relative;
  font-family: 'Pokemon GB';
  letter-spacing: 3px;
  font-size: 20px;
  top: 250px;
  left: -450px;
  text-transform: capitalize;
  border-radius: 15px;
  border-width: 10px;
  margin-top: 1px;
}

.btnChoose:hover {
  box-shadow: 5px 5px 5px rgb(44, 44, 44);
}


.chosenPokemons {
  display: block;
  position: absolute;
  left: 850px;
}

.chosenPokemons .statsDiv {
  display: block;
  position: relative;
  margin-top: -60px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.chosenPokemons .pokePic {
  left: -100px;
}

.btnApproach {
  position: relative;
  font-family: 'Pokemon GB';
  letter-spacing: 3px;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 15px;
  border-width: 10px;
  margin-top: 1px;
}

.btnApproach:hover {
  box-shadow: 5px 5px 5px rgb(44, 44, 44);
}

.appearedPokemon {
  display: block;
  position: absolute;
  left: 850px;
}

.appearedPokemon .statsDiv {
  display: block;
  position: relative;
  top: -5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.appearedPokemon .pokePic {
  left: -100px;
}

.enemyTitle {
  position: absolute;
  top: -30px;
}

.playerTitle {
  position: absolute;
  top: -30px;
  transform: translateX(-15%);
}

.enemyPokemon {
  display: block;
  position: absolute;
  left: 1450px;
  top: 130px;
}

.enemyPokemon .statsDiv {
  display: block;
  position: relative;
  top: -5px;
  height: 280px;
  box-shadow: 5px 5px 5px rgb(250, 0, 0);
  padding-top: 1px;
  padding-bottom: 1px;
}

.enemyPokemon .statsDiv:hover {
  background-color: rgb(250, 0, 0);
}

.enemyPokemon .pokePic {
  left: -100px;
}

.playerPokemon {
  display: block;
  position: absolute;
  left: 300px;
  top: 135px;
}

.playerPokemon .statsDiv {
  display: block;
  position: relative;
  height: 280px;
  top: -5px;
  box-shadow: -5px 5px 5px rgb(3, 0, 170);
  padding-top: 1px;
  padding-bottom: 1px;
}

.playerPokemon .statsDiv:hover {
  background-color: rgb(3, 0, 170) ;
}

.playerPokemon .pokePic {
  left: -100px;
}

.btnEncounter {
  position: relative;
  font-family: 'Pokemon GB';
  letter-spacing: 3px;
  font-size: 20px;
  left: -100px;
  text-transform: capitalize;
  border-radius: 15px;
  border-width: 10px;
  margin-top: 1px;
}

.btnEncounter:hover {
  box-shadow: 5px 5px 5px rgb(44, 44, 44);
}

.areaChoose {
  position: relative;
  height: 500px;
  top: 100px;
  left: 850px;
  border-radius: 15px;
  width: 500px;
  margin-bottom: -400px;
}

.btnArea {
  position: relative;
  font-family: 'Pokemon GB';
  letter-spacing: 3px;
  font-size: 20px;
  top: 20px;
  margin-top: 30px;
  text-transform: capitalize;
  border-radius: 15px;
  border-width: 10px;
  margin-top: 1px;
}

.btnArea:hover {
  box-shadow: 5px 5px 5px rgb(44, 44, 44);
}

.btnStart {
  position: relative;
  font-family: 'Pokemon GB';
  letter-spacing: 3px;
  font-size: 20px;
  top: 20px;
  left: 470px;
  margin-top: 30px;
  text-transform: capitalize;
  border-radius: 15px;
  border-width: 10px;
  margin-top: 1px;
}

.btnStart:hover {
  box-shadow: 5px 5px 5px rgb(44, 44, 44);
}